<footer class="page-footer hide-on-med-and-down indigo darken-4">
  <p class="center-align white-text">
    <a href="https://github.com/RodrigoPatrao/haskell-site.git" target="_blank">
      <img src="/images/github.png" height="30" alt="GitHub">
    </a>
  </p>
</footer>
