<footer class="page-footer hide-on-med-and-down indigo darken-4">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col l1 offset-l5">
      <a href="https://github.com/RodrigoPatrao/haskell-site.git" target="_blank">
        <img src="/images/github.png" height="30" alt="GitHub">
      </a>
    </div>
    <div class="col l1 center-align">
      <a href="/end" class="btn btn-small waves-effect waves-light grey darken-3">Encerrar</a>
    </div>
  </div>
</footer>
