<head>
  <meta charset="utf-8">
  <title>Politburo Avtomobil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/materialize/css/materialize.css">
  <link rel="stylesheet" href="/css/master.css" media="screen">
</head>
