<ul id="clients_dropdown" class="dropdown-content">
  <li><a href="/client/new">Novo</a></li>
  <li><a href="/clients">Listar</a></li>
</ul>
<ul id="rentals_dropdown" class="dropdown-content">
  <li><a href="/rental/new">Novo</a></li>
  <li><a href="/rentals">Listar</a></li>
</ul>
<ul id="maintenance_dropdown" class="dropdown-content">
  <li><a href="/maintenance/new">Novo</a></li>
  <li><a href="/maintenances">Listar</a></li>
</ul>
<nav class="red darken-3">
  <div class="nav-wrapper">
    <span class="brand-logo"><img src="/images/logo.png" height="25" alt="" id="logo">Politburo Avtomobil</span>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down right">
      <li>
        <a class="dropdown-button" href="#!" data-activates="rentals_dropdown">Locações
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="clients_dropdown">Clientes
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li><a href="/vehicles">Avtomobils</a></li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="maintenance_dropdown">Manutenção
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a href="/logoff">
          <i class="material-icons left">close</i>Sair
        </a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li><a href="/clients"><i class="material-icons left">list</i>Listar Clientes</a></li>
      <li><a href="/client/new"><i class="material-icons left">person_add</i>Novo Cliente</a></li>
      <li><a href="/rentals"><i class="material-icons left">list</i>Listar Locações</a></li>
      <li><a href="/rental/new"><i class="material-icons left">attach_money</i>Nova Locação</a></li>
      <li><a href="/rentals"><i class="material-icons left">list</i>Listar Avtomobils</a></li>
      <li><a href="/vehicles"><i class="material-icons left">directions_car</i>Novo Avtomobil</a></li>
      <li><a href="/rentals"><i class="material-icons left">list</i>Listar Manutenções</a></li>
      <li><a href="/maintenance"><i class="material-icons left">build</i>Nova Manutenção</a></li>
      <li><a href="/logoff"><i class="material-icons left">close</i>Sair</a></li>
    </ul>
  </div>
</nav>
