<nav class="red darken-3">
  <div class="nav-wrapper">
    <span class="brand-logo yellow-text text lighten-4"><img src="images/logo.png" height="25" alt="skavurska" id="logo">Politburo Avtomobil</span>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down right">
      <li>
        <a href="/clients">
          <i class="material-icons left yellow-text text lighten-4">person</i>Clientes
        </a>
      </li>
      <li>
        <a href="/rentals">
          <i class="material-icons left yellow-text text lighten-4">attach_money</i>Locações
        </a>
      </li>
      <li>
        <a href="/vehicles">
          <i class="material-icons left yellow-text text lighten-4">directions_car</i>Avtomobils
        </a>
      </li>
      <li>
        <a href="/maintenance">
          <i class="material-icons left yellow-text text lighten-4">build</i>Manutenção
        </a>
      </li>
      <li>
        <a href="/logoff">
          <i class="material-icons left yellow-text text lighten-4">close</i>Sair
        </a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li>
        <a href="/clients">
          <i class="material-icons left">group</i>Clientes
        </a>
      </li>
      <li>
        <a href="/rentals">
          <i class="material-icons left">attach_money</i>Locações
        </a>
      </li>
      <li>
        <a href="/vehicles">
          <i class="material-icons left">directions_car</i>Veículos
        </a>
      </li>
      <li>
        <a href="/maintenance">
          <i class="material-icons left">build</i>Manutenção
        </a>
      </li>
      <li>
        <a href="/logoff">
          <i class="material-icons left">close</i>Sair
        </a>
      </li>
    </ul>
  </div>
</nav>
