<!DOCTYPE html>
<html>
<% include partials/head %>
<script src="/materialize/js/jquery-3.1.1.js"></script>
<body>
  <% include partials/navbar %>
  <main>
    <div class="row">
      <div class="col s12 m12 l12">
        <h4 class="center-align red-text text-darken-4">
          404 - Conteúdo não encontrado
        </h1>
        <p class="center-align">
          Ora, ora.. parece que o camarada tentou acessar conteúdo fora do controle do Estado.<br>
          Não seja subversivo. Volte ao trabalho, camarada.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 center-align">
        <img src="/images/404.jpeg" width="360" alt="oops">
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
<script src="/materialize/js/materialize.js"></script>
<script>
$(function(){
  $(".button-collapse").sideNav();
  if (screen.window < 400) {
    alert("merda");
  }
});
</script>
</html>
