<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
  <header>
    <% include partials/navbar %>
  </header>
  <main>
    <h5 class="center-align">Clientes - Lista Geral</h5>
    <div class="divider"></div>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <td>Nome</td>
          <td>CPF</td>
          <td>Email</td>
          <td>Telefone</td>
          <td>CNH</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rodrigo Patrão Viveiros</td>
          <td>26576010818</td>
          <td>rodrigo.viveiros@outlook.com</td>
          <td>13981316609</td>
          <td>12345678901</td>
          <td class="center-align">
            <a class="btn btn-floating waves-effect waves-light green darken-3" href="#edit_modal">
              <i class="material-icons">create</i>
            </a>
            <a class="btn btn-floating waves-effect waves-light red darken-3" href="#edit_modal">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="edit_modal" class="modal">
    <div class="modal-content">
      <h4>Editar Cliente</h4>
      <form action="/clients" method="put">
        <div class="row">
          <div class="input-field col s12 m12 l6">
            <input type="text" name="nome">
          </div>
          <div class="input-field col s12 m12 l6">
            <input type="text" name="email">
          </div>
          <div class="input-field col s12 m12 l6">
            <input type="text" name="telefone">
          </div>
          <div class="input-field col s6 m6 l3 center-align">
            <button type="submit" class="btn btn-small waves-effect waves-light orange darken-3">Gravar</button>
          </div>
          <div class="input-field col s6 m6 l3 center-align">
            <button type="reset" class="btn btn-small waves-effect waves-light red darken-3">Limpar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </main>
  <% include partials/footer %>
</body>
<script src="/materialize/js/jquery-3.1.1.js"></script>
<script src="/materialize/js/materialize.js"></script>
<script>
$(function(){
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
  $('.modal').modal();
});
</script>
</html>
