<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
  <header>
    <% include partials/navs/navbar %>
  </header>
  <main>
    <h5 class="center-align">Clientes</h5>
    <div class="divider"></div>
    <div class="container">
      <div class="row">
        <form  action="clients" method="post">
          <div class="input-field col s6 m3 l2">
            <input type="text" name="cpf" id="cpf" autofocus="true" required>
            <label for="cpf">CPF</label>
          </div>
          <div class="input-field col s6 m3 l2">
            <button type="submit" id="submit" class="btn btn-small waves-effect orange darken-3">Buscar</button>
          </div>
        </form>
      </div>
      <div class="divider hide-on-med-and-down"></div>
      <div class="row">
        <form id="form_client" action="clients/new" method="post">
          <input type="hidden" name="cpf">
          <div class="row">
            <div class="input-field col s12 m8 l6 offset-l1">
              <input autocomplete="off" id="name" type="text" name="name" disabled>
              <label for="name">Nome</label>
            </div>
            <div class="input-field col s12 m4 l3">
              <input autocomplete="off" id="chn" type="text" name="chn" disabled>
              <label for="cnh">CNH</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m3 l3 offset-l1">
              <input autocomplete="off" id="phone" type="text" name="phone" disabled>
              <label for="phone">Telefone</label>
            </div>
            <div class="input-field col s12 m3 l3">
              <input autocomplete="off" id="email" type="text" name="email" disabled>
              <label for="email">Email</label>
            </div>
            <div class="input-field col s4 m2 l1">
              <button id="form_enable" class="btn btn-small waves-effect orange darken-3" type="button">
                Editar
              </button>
            </div>
            <div class="input-field col s4 m2 l1">
              <button id="edit_user" class="btn btn-small waves-effect orange darken-3" type="button" disabled>
                Gravar
              </button>
            </div>
            <div class="input-field col s4 m2 l1">
              <button id="delete_user" class="btn btn-small waves-effect orange darken-3" type="button">
                Excluir
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
  <% include partials/footer %>
</body>
<script src="/materialize/js/jquery-3.1.1.js"></script>
<script src="/materialize/js/materialize.js"></script>
<script>
$(function(){
  $(".button-collapse").sideNav();
  $("#form_enable").click(function(){
    $("input[disabled]").removeAttr("disabled");
    $("button[disabled]").removeAttr("disabled");
    $("#name").focus();
  });
  $("#cpf").focus(function(){
    $("input").each(function(){
      $(this).attr("disabled");
    });
    $("#edit_user").attr("disabled");
  });
});
</script>
</html>
