<!DOCTYPE html>
<html>
<% include partials/head %>
<body>
  <header>
    <% include partials/navbar %>
  </header>
  <main>
    <h5 class="center-align">Manutenções</h5>
    <div class="divider"></div>
    <table class="bordered highlight responsive-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Valor</th>
          <th>Tipo</th>
          <th>Responsável</th>
          <th>Telefone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>11/11/1111</td>
          <td>180,00</td>
          <td>Elétrica</td>
          <td>Rodrigo Patrão Viveiros</td>
          <td>13981316609</td>
          <td>rodrigo.viveiros@outlook.com</td>
        </tr>
      </tbody>
    </table>
  </main>
  <% include partials/footer %>
</body>
<script src="/materialize/js/jquery-3.1.1.js"></script>
<script src="/materialize/js/materialize.js"></script>
<script>
$(function(){
  $(".button-collapse").sideNav();
  $(".dropdown-button").dropdown();
});
</script>
</html>
